.vscode
node_modules
package-lock.json
dist
target
.ipynb_checkpoints
.idea
coverage
doc
*.ts~
*.blend1
*.blend11
artifacts
.eslintcache
packages/game/dist
packages/game/doc
packages/game/coverage
.pnpm-store
.next
out
.tsbuildinfo
packages/website/next-env.d.ts
