# Auto detect text files and perform LF normalization
* text=auto
tests/e2e/**/*.png filter=lfs diff=lfs merge=lfs -text
# Website public assets
packages/website/public/**/*.png filter=lfs diff=lfs merge=lfs -text
packages/website/public/**/*.webp filter=lfs diff=lfs merge=lfs -text
packages/website/public/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
packages/website/public/**/*.pdf filter=lfs diff=lfs merge=lfs -text
packages/website/public/**/*.ico filter=lfs diff=lfs merge=lfs -text
packages/website/public/**/*.otf filter=lfs diff=lfs merge=lfs -text
packages/terrain-generation/pkg/*.wasm filter=lfs diff=lfs merge=lfs -text
