{
    "tabWidth": 4,
    "printWidth": 120,
    "importOrder": [
        "",
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/utils",
        "",
        "^@/",
        "",
        "^[.]",
        "",
        "^@assets",
        "",
        "^@shaders"
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
