::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

dialog {
    padding: 20px;
    z-index: 1000;

    color: white;
    font-family: var(--main-font);
    font-size: var(--text-size);

    max-width: 40%;

    overflow: hidden;

    background: rgba(0, 0, 0, 0.8);
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.5) inset,
        0 0 10px rgba(255, 255, 255, 0.5);

    transition: 0.2s ease-in-out;
    scale: 1;
    @starting-style {
        scale: 0;
    }

    form {
        display: flex;
        flex-direction: column;

        menu {
            display: flex;
            padding-inline-start: 0;
            justify-content: center;
            column-gap: 10px;
        }
    }
}
