.sidePanel.tutorials {
    overflow-x: hidden;

    .tutorialsMenuContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--tile-width), 1fr));
        padding: 12px 24px 24px;
        gap: 20px;

        --tile-width: 300px;

        & > * {
            background: rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5) inset;
            box-sizing: border-box;
            transition: 0.2s;

            &:hover {
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.8) inset;
                cursor: pointer;
            }
        }

        .moreWillCome {
            color: white;
            font-family: Nasalization, sans-serif;
            font-size: 2em;
            text-align: center;
            margin-block: 0;
            display: flex;
            align-items: center;

            &:hover {
                cursor: default;
            }
        }

        .tutorial {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            row-gap: 16px;
            min-height: 450px;
            padding: 28px 0;

            h2 {
                color: white;
                font-family: Nasalization, sans-serif;
                font-size: 2.5em;
                line-height: 1.2em;
                margin-block: 0;
                min-height: 2.4em;
                width: calc(100% - 56px);
                text-align: center;
                overflow-wrap: normal;
                text-wrap: balance;
                word-break: normal;
            }

            img {
                width: calc(100% - 32px);
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }

            p {
                color: white;
                font-family: Nasalization, sans-serif;
                line-height: 1.5em;
                font-size: 1.25em;
                margin-block: 0;
                width: calc(100% - 32px);
            }
        }
    }
}
