#notificationContainer {
    // positioned at top-center of the screen
    // children are notifications that have a text and a progress bar
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
    pointer-events: none;
    font-family: Nasalization, sans-serif;
    row-gap: 10px;
    padding: 10px 0;

    .notification {
        // notification container
        position: relative;
        width: 50%;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        pointer-events: all;

        background: rgba(0, 0, 0, 0.8);
        border: 1px solid gray;

        animation: popIn 0.5s ease-in-out;
        animation-fill-mode: forwards;

        cursor: pointer;

        transition: 0.2s;

        &.exploration {
            background: rgba(12, 12, 105, 0.8);
        }

        .notification-content {
            display: flex;
            align-items: center;
            column-gap: 10px;
            padding: 0 20px;

            img {
                height: 4vmin;
            }

            p {
                // notification text
                position: relative;
                padding: 5px 10px;
                text-align: center;
                color: white;
                font-size: 1.1em;
                flex-grow: 1;
            }
        }

        .notification-progress {
            // progress bar
            width: 100%;
            height: 5px;
            background-color: rgba(255, 255, 255, 0.5);

            .notification-progress-bar {
                // progress bar fill
                height: 100%;
                width: 100%;
                background-color: white;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
