#about {
    position: absolute;
    right: 0;
    top: 9vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    width: 60vw;

    padding: 40px;

    h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    h3 {
        text-align: left;
    }

    p {
        font-family: "Nasalization";
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1640px) {
    #about {
        width: calc(100vw - 80px);
        padding: 0 40px;
        top: 120px;
        left: 0;
        right: 0;
        bottom: 0;

        h2 {
            display: none;
        }

        // first h3 only has no margin
        h3:first-of-type {
            margin-top: 0;
        }

        p {
            font-size: 1.2em;
        }
    }
}
