#mainMenu {
  position: absolute;
  width: 100vw;
  height: 100vh;

  h1 {
    font-family: 'Nasalization', sans-serif;
    font-size: 8em;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: 0.1s;
  }

  ul#menuItems {
    list-style-type: none;
    padding: 0;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;

    li {
      color: white;
      font-family: Nasalization, sans-serif;
      font-size: 2em;
      line-height: 1.5em;
      cursor: pointer;
      padding: 5px 20px;
      transition: 0.1s;

      &:hover {
        background: #002b6a;
      }

      &.disabled {
        color: grey;
        cursor: not-allowed;
      }

      &.disabled:hover {
        background: black;
      }
    }
  }

  .rightPanel {
    position: absolute;
    width: 75vw;
    right: 2.5vw;
    height: 65vh;
    bottom: 2.5vh;
    transition: 0.2s ease-in-out;

    transform: scale(0);
    opacity: 0;

    &.visible {
        transform: scale(1);
        opacity: 1;
    }

    box-shadow: 0 0 20px black;
    background: rgba(0, 0, 0, 0.8);

    h2 {
      color: white;
      text-align: center;
      font-family: Nasalization, sans-serif;
      font-size: 3em;
    }

    h3 {
      color: white;
      text-align: center;
      font-family: Nasalization, sans-serif;
      font-size: 1.5em;
    }

    p {
      color: white;
      font-family: Nasalization, sans-serif;
      text-align: center;
    }

    a {
      color: white;
      transition: 0.1s;
      text-decoration: underline solid rgba(255, 255, 255, 0.5);

      &:hover {
        text-decoration: underline solid white;
      }
    }
  }
}