.starMapUI {
  .cursor {
    position: absolute;
    width: 2vh;
    height: 2vh;
    transform: translate(-50%, -50%);
    outline: white 0.2vh solid;
    border-radius: 50%;
    pointer-events: none;
  }

  &.hidden {
    display: none;
  }
}