.starMapUI {
  .cursor {
    position: absolute;
    width: 2vh;
    height: 2vh;
    transform: translate(-50%, -50%);
    outline: white 0.2vh solid;
    border-radius: 50%;
    pointer-events: none;
  }

  .shortHandUI {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 0.5) inset;

    display: flex;
    row-gap: 10px;
    flex-direction: column;

    color: white;
    font-family: Nasalization, sans-serif;
    padding: 20px;
    backdrop-filter: blur(3px);

    h2, p {
      margin-block: 0;
    }

    .buttonContainer {
      display: flex;
      column-gap: 5px;
    }

    button {
      background: #002b6a;
      outline: none;
      border: none;
      cursor: pointer;
      color: white;
      font-family: Nasalization, sans-serif;
      padding: 5px;
    }
  }

  .starMapInfoPanel {
    position: absolute;
    height: 90vh;
    top: 5vh;
    width: 25vw;
    min-width: 500px;

    backdrop-filter: blur(3px);
    overflow-y: auto;

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    
    padding: 0 15px;

    color: white;
    font-family: Nasalization, sans-serif;

    h2, p {
      margin-block: 5px;
    }

    .starMapInfoPanelStarPreview {
      width: 150px;
      height: 150px;
      background: white;
      align-self: center;
      border-radius: 50%;
      box-shadow: 0 0 30px white;
      margin: 30px 0;
    }

    .starMapInfoPanelTitle {
      text-align: center;
      font-size: 3em;
    }

    .starMapInfoPanelStarSector {
      padding: 0 20px;
      font-size: 2em;
      text-align: center;
    }

    hr {
      width: 100%;
      margin: 10px auto;
      border: 0;
      border-top: 1px solid white;
    }
  }

  &.hidden {
    display: none;
  }
}