.targetCursorRoot {
  --dim: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: max(3vh, 20px);

  translate: calc(var(--dim) * -0.5) -50%;
  pointer-events: none;

  .targetCursor {
    --s: max(20px, calc(var(--dim) * 0.25));

    border: 5px solid white;
    width: var(--dim);
    height: var(--dim);
    mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;

    flex-shrink: 0;

    transition: transform 0.2s, border-color 0.2s, scale 0.2s cubic-bezier(0.34,-1.87, 0.74, 2.99), rotate 0.2s;

    &.rounded {
      border-radius: 50%;
    }

    &.rotated {
      rotate: 45deg;
    }

    &.target {
      border-color: goldenrod;
      scale: 1.2;
    }
  }

  &.hidden {
    display: none;
  }

  .targetCursorText {
    color: white;
    font-family: Nasalization, sans-serif;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: opacity 0.2s;

    row-gap: 5px;

    p {
      margin-block: 0;

      &.targetCursorName {
        font-weight: bold;
        font-size: 1.5em;
      }
    }
  }
}