.targetCursorRoot {
  --dim: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: max(3vh, 20px);
  
  translate: calc(var(--dim) * -0.5) -50%;
  pointer-events: none;

  .targetCursor {
    --s: max(20px, calc(var(--dim) * 0.25));

    border: 5px solid white;
    width: var(--dim);
    height: var(--dim);
    mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;

    flex-shrink: 0;

    &.rounded {
      border-radius: 50%;
    }

    &.rotated {
      rotate: 45deg;
    }
  }
  
  &.hidden {
    display: none;
  }

  .targetCursorText {
    color: white;
    font-family: Nasalization;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;    
    justify-content: center;

    transition: opacity 0.2s;

    row-gap: 5px;
    
    p {
      margin-block: 0;
    }
  }
}