.tutorialLayer {
    z-index: 20;
    pointer-events: none;
    position: relative;
    .tutorialPanel {
        position: absolute;
        height: 80vh;
        box-shadow: 0 0 20px black;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(3px);
        width: 25vw;
        min-width: 500px;
        top: 10vh;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        font-family: Nasalilzation, sans-serif;

        h1 {
            text-align: center;
            color: white;
            flex-grow: 0;
        }

        .tutorialContentContainer {
            overflow-y: auto;
            flex-grow: 1;

            .tutorialContent {
                color: white;
                padding: 10px;
                line-height: 1.5em;
            }
        }

        .tutorialControls {
            flex-grow: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            p {
                background: white;
                color: black;
                padding: 5px;

                display: flex;
                column-gap: 5px;
                align-items: center;

                .keySpan {
                    font-weight: bold;
                    background: rgba(0, 0, 0, 0.3);
                    padding: 5px;
                    font-size: 75%;
                }
            }
        }
    }
}