#targetHelper {
    position: absolute;
    bottom: 145px;
    right: 70px;
    border: 1px solid white;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;

    #targetDot {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: white;
        border: 1px solid white;
        box-shadow: 0 0 10px white;

        &.behind {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}
