.ui {
  background: rgb(0, 0, 0);
  position: absolute;
  top: 38px;
  right: 0;
  width: 300px;
  bottom: 0;
  z-index: 2;
  overflow-y: auto;

  h1 {
    font-family: sans-serif;
    color: white;
    margin: 20px 5px 5px;
    text-align: center;
  }

  p {
    font-family: sans-serif;
    color: white;
    margin-block-end: 0;
    padding: 20px 10px 0 10px;
  }

  @import "../utils/colorPicker";

  .range-slider {
    margin-top: -5%;
  }

  @import "../utils/checkbox";
}