#toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  img {
    width: 50px;
    cursor: pointer;
    background: transparent;
    transition: .2s;
    &:hover {
      background: gray;
    }
  }
}