$gaps: 20px;

#spaceStationUI {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
  
    font-family: Nasalization, sans-serif;

    padding: $gaps;

    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 15vh auto;

    row-gap: $gaps;
    column-gap: $gaps;

    &>* {
        box-shadow: 0 0 20px black;
        background: rgba(20, 20, 50, 0.8);
        backdrop-filter: blur(3px);

        color: white;
    }

    #spaceStationHeader {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding: 0 20px;

        p {
            margin-block: 0;
        }

        .welcomeTo {
            font-size: 150%;
        }

        .spaceStationName {
            font-size: 300%;
        }
    }

    #spaceStationActions {
        grid-column-start: 2;
    }
}