@use "../variables";

$gaps: 10px;

#spaceStationUI {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    font-family: variables.$main-font;

    padding: $gaps;

    visibility: hidden;

    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 15vh auto;

    row-gap: $gaps;
    column-gap: $gaps;

    & > * {
        box-shadow: 0 0 20px black;
        background: rgba(20, 20, 20, 0.8);
        color: white;
        box-sizing: border-box;
    }

    .spaceStationHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        row-gap: $gaps;
        padding: 20px;

        p {
            margin-block: 0;
        }

        .welcomeTo {
            font-size: 150%;
        }

        .spaceStationName {
            font-size: 300%;
        }
    }

    .playerInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: $gaps;
        padding: 20px;

        h2,
        p {
            margin-block: 0;
        }

        .playerName {
            display: flex;
            column-gap: 10px;
            align-items: center;
        }

        .playerBalance {
        }
    }

    .mainContainer {
        scale: 1;
        transition: 0.2s ease-in-out;

        padding: 10px;
        overflow-y: auto;

        &.hidden {
            scale: 0;
        }

        svg {
            text {
                fill: white;
                font-family: Nasalization, sans-serif;
                transition: 0.2s;
            }

            .pie-slice-group {
                cursor: pointer;

                &:hover {
                    .pie-slice {
                        scale: 1.05;
                    }

                    text {
                        text-decoration: underline solid white;
                    }
                }

                .pie-slice {
                    scale: 1;
                    transition: 0.2s;
                }
            }
        }

        .missionList {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            .missionItem {
                display: flex;
                background: var(--accent-color-dark);
                padding: 20px;

                .missionDescription {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    flex-grow: 1;

                    h4,
                    p {
                        margin-block: 0;
                    }
                }

                .missionButtonContainer {
                    display: flex;
                    align-items: center;

                    button {
                        background: var(--accent-color);
                        outline: none;
                        border: none;
                        color: white;
                        font-family: variables.$main-font;
                        padding: 1vmin;
                        font-size: var(--text-size);

                        transition: variables.$transition-time;

                        &:hover {
                            background: var(--accent-color-light);
                            cursor: pointer;
                        }

                        &.accepted {
                            background: var(--accent-color-light);
                        }
                    }
                }
            }
        }

        .spaceshipContainer {
            background: var(--accent-color-dark);
            padding: 20px;
            display: flex;
            flex-direction: column;
            row-gap: $gaps;

            h3 {
                margin-block: 0;
            }

            .fuelManagementContainer {
                display: flex;
                align-items: center;
                column-gap: $gaps;

                p {
                    flex-grow: 1;
                }
            }
        }
    }

    .spaceStationActions {
        grid-column-start: 2;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px;
        row-gap: $gaps;

        .flexGrow {
            flex-grow: 1;
        }

        .spaceStationAction {
            align-self: stretch;

            background: var(--accent-color-dark);

            transition: 0.2s;

            $icon-size: 75px;

            display: grid;
            grid-template-columns: $icon-size auto;
            align-items: center;

            column-gap: 10px;
            padding: 10px 10px;

            box-shadow: 0 0 0px white inset;

            &.disabled {
                background: var(--disabled-color);

                &:hover {
                    cursor: not-allowed;
                    background: var(--disabled-color);
                    box-shadow: 0 0 0px white inset;
                }
            }

            img {
                grid-row: span 2;
                width: $icon-size;
                height: $icon-size;
            }

            h2 {
                margin-block: 0;
            }

            p {
                margin-block: 0;
            }

            &:hover {
                cursor: pointer;
                background: var(--accent-color);
                box-shadow: 0 0 10px white inset;
            }
        }
    }

    .discoveryPanel {
        height: 100%;

        .encyclopaediaContainer {
            min-height: unset;
            p {
                flex-grow: 1;
            }
        }

        .buttonHorizontalContainer {
            min-height: unset;
            select {
                flex-grow: 1;
            }
        }

        .contentHorizontalContainer {
            flex-grow: 1;
            .discoveryList {
                padding-right: 10px;

                .listItemContainer {
                    min-height: fit-content;

                    &.uploaded {
                        --color-frontier: 95%;
                        background: linear-gradient(
                            90deg,
                            var(--accent-color-dark) var(--color-frontier),
                            green var(--color-frontier)
                        );

                        &:hover {
                            background: linear-gradient(
                                90deg,
                                var(--accent-color) var(--color-frontier),
                                green var(--color-frontier)
                            );
                        }

                        &.selected {
                            background: linear-gradient(
                                90deg,
                                var(--accent-color-light) var(--color-frontier),
                                green var(--color-frontier)
                            );
                        }
                    }

                    &.selected {
                        background: var(--accent-color-light);
                    }

                    & > * {
                        margin: 0;
                    }
                }
            }

            .discoveryDetails {
                background: var(--accent-color-dark);
                padding: 20px;
                flex-grow: 1;

                &.empty {
                    align-items: center;
                    justify-content: center;
                }

                & > * {
                    margin: 0;
                }
            }
        }
    }
}

.spaceshipOutfittingUI {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    column-gap: $gaps;

    & > div,
    .componentSpec {
        background: var(--accent-color-dark);
        padding: 10px;
    }

    .componentSlot {
        padding: 10px;
    }

    .componentSpec {
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 0.5em;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 0;
    min-height: 0;
}

.flex-row {
    display: flex;
    column-gap: 10px;
    min-width: 0;
    min-height: 0;
}

.flex-wrap {
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.overflow-y-auto {
    overflow-y: auto;
}

.listItemContainer {
    background: var(--accent-color-dark);
    padding: 10px;
    cursor: pointer;
    transition: variables.$transition-time;

    &:hover {
        background: var(--accent-color);
        box-shadow: 0 0 10px white inset;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}
